#block-canvas {
    border: 2px solid blue;
    height: 125px;
    width: 400px;
    overflow: auto;
    margin-bottom: 50px;
    display: inline-block;
}

#monster-head {
    height: 200px;
}
.color-block{
    height: 50px;
    width: 50px;
}
.color-piece{
    height: 100px;
    width: 100px;
    display: inline-block;
}

.blue {
    background: blue;
    color: white;
}
.red {
    background: red;
    color: white;
}
.purple {
    background: purple;
    color: white;
}
.grey {
    background: grey;
    color: white;
}
